@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    color: #666666;
}

body {
    font-family: 'roboto';
    color: var(--color);
    font-size: 16px;
}

* {
    box-sizing: border-box;
}


h1 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  picture source, img {
      width: 100%;
      height: auto;
  }

button {
    cursor: pointer;
    background-color: #3F2AFF;
    color: white;
    border-radius: 20px;
    border: none;
}


.container {
    max-width: 1140px;
    min-width: auto;
    padding: 0 15px;
    margin: 0 auto;

}

h2 {
    font-size: 40px;
    font-weight: 800;
    color:#2E2B44;
    line-height: 100%;
}


/* header */

.header__container {
    background-color: #3F2AFF;
    height: 80px;
}

.bb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15px;
}


.header__logo-adap {
    display: none;
}

.header__ul {
    display: flex;
    flex-direction: row;
}

.header__li {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    
}

.header__li:not(:last-child) {
    margin-right: 56px;
}




/* 3d */

.three-d {
    background-image: url(../img/Rectangle_6110.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 15px;
}

.cont-three-d {
    background-image: url(../img/Group_95.png);
    background-repeat: no-repeat;
    padding-bottom: 130px;
    background-position: 90% 15px;
}

.three-d__content {
    margin-top: 130px;
}

.three-d__title {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
}

.three-d__description {
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
    color: white;
    width: 444px;
}

.three-d__btn {
    margin-top: 60px;
}

.three-d__course-btn {
    width: 270px;
    height: 69px;
    font-size: 18px;
    font-weight: 700;
}



/* секция преимущества */


.advantage {
    min-height: 456px;
}

.advantage__top-part {
    background-image: url(../img/Vectary_texture.png);
    background-repeat: no-repeat;
    background-position: left 70px;
}

.advantage__title {
    margin-left: 190px;
    width: 380px;
    margin-bottom: 20px;
    padding-top: 45px;
}

.advantage__description {
    margin-left: 190px;
    width: 585px;
    line-height: 24px;
    margin-top: 0;
}

.advantage__ul {
    padding-left: 0;
    margin-top: 15px;
}

.advantage__icon {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    margin-top: -7px;
}

.advantage__li {
    display: flex;
    flex-direction: row;
}

.advantage__li-description {
    font-weight: 700;
    line-height: 19px;
    max-width: 443px;
    min-width: auto;
    margin-top: 5px;
}



/* секция преподаватели */

.teachers {
    background-color: #212133;
    padding-bottom: 30px;
}

.teachers__title {
    color: white;
    padding-top: 40px;
    margin-bottom: 30px;
}

.vv { 
    padding-left: 10px;
}

.teachers__li {
    border-radius: 20px;
    background-color: transparent;
    padding: 1px;
    
}


.teahers__span {
    font-size: 18px;
    color: white;
    line-height: 27px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.teachers__description {
    color: #85859B; 
    line-height: 24px;
    margin-top: 10px;
    max-width: 255px;
}


/* секция курсы */
.cours {
    padding-bottom: 30px;
}

.cours__title {
    margin-top: 70px;
    margin-bottom: 30px;
}

.cours__li {
    position: relative;
    padding-bottom: 100px;
    min-height: 480px;
    max-width: 539px;
    border-radius: 20px;
    border: none;
    background-color: #EDF0F9;
    margin-bottom: 30px;
}

.cours__img {
    border-radius: 20px 20px 0 0;

}

.cours__strong {
    margin-top: 30px;
    color: #212133;
    font-weight: 700;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 0;
}

.cours__advantage {
    text-align: start;
    margin-left: 30px;
    margin-top: 10px;
    color: #666666;
    line-height: 24px;
    max-width: 480px;
    min-height: 113px;
}

.cours__btn-li {
    position: absolute;
    width: 202px;
    height: 60px;
    left: 30px;
    bottom: 30px;
}

/* секция футер */

.contacts {
    height: 80px;
    background-color: #2E2B44;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.footer__li:not(:last-child) {
    margin-right: 34px;
}

.fa {
    color: white;
    font-size: 20px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    height: 18px;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
}


@media (max-width: 768px) {


    .container {
        max-width: 690px;
        min-width: auto;
    }

    .header__logo-adap {
        display: none;
    }

    /* 3d */

    /* .three-d {
        background-image: url(../img/Rectangle_6_768.png);
    } */

    .cont-three-d {
        background-image: url(../img/Group_204_768.png);
        background-position: 95% 125px;
    }

    .three-d__title {
        font-size: 50px;
    }

    .three-d__description {
        width: 345px;
    }

    /* advantage */

    .advantage {
        min-height: 586px;
    }

    .advantage__top-part {
        background-image: url(../img/Vectary-texture_768.png);
        background-position: left 54px;
    }

    .advantage__title {
        margin-left: auto;
    }

    .advantage__description {
        margin-left: auto;
        width: 60%;
    }

    .advantage__ul {
        margin-top: 30px;
    }

    .advantage__icon {
        margin-top: 0;
    }

    .advantage__li  {
        flex-direction: column;
    }

    .advantage__li-description {
        max-width: 210px;
        min-width: auto;
        margin-top: 15px;
    }

    /* teachers */

    .teachers {
        padding-bottom: 30px;
    }

    .teachers__description br {
        display: none;
    }

    /* cours */

    .cours__li {
        min-height: 556px;
    }


    .cours__btn-li {
        width: 195px;
    }

}

@media (max-width: 576px) {

    h2 {
        font-size: 30px;
    }


    .container {
        max-width: 570px;
        min-width: auto;
    }

    /* header */

    .header__container {
        height: 133px;
    }

    .bb {
        flex-direction: column;
    }

    .header__ul {
        padding: 0;
        padding-inline-start: 0px;
        justify-content: space-around;
    }

    .header__li:not(:last-child) {
        margin-right: 0px;
    }

    .header__logo {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .header__logo-adap {
        display: none;
    }


    /* 3d */

    .three-d {
        background-image: url(../img/Rectangle_6_576px.png);
    }

    .cont-three-d  {
        background-image: none;
    }

    .three-d__content {
        margin-top: 77px;
    }

    /* advantge */

    .advantage {
        min-height: 674px;
        padding-bottom: 15px;
    }

    .advantage__title {
        font-size: 30px;
    }

    .advantage__top-part {
        background-image: url(../img/Vectary_texture_576px.png);
        background-position: left 44px;
    }

    .advantage__title {
        width: 60%;
    }



    /* teachers */

    .teachers {
        padding-bottom: 30px;
    }


    .for-small-media {
        width: 45%;
    }

    .for-small-media.for-small-media.for-small-media.for-small-media:not(.right) {
        margin-right: 30px;
    }

    /* cours */


    .cours__li {
        height: 95%;
        /* min-height: 653px; */
        padding-bottom: 100px;
        /* max-height: auto; */
        position: relative;
        max-width: 100%;
    }

    .cours__strong {
        margin-left: 15px;
    }

    .cours__advantage {
        min-height: 280px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: auto;
    }

    .cours__btn-li { 
        position: absolute;
        width: 80%;
        height: 40px;
        left: 15px;
        border-radius: 15px;
    }


}

@media (max-width: 430px) {


    .container {
        max-width: 320px;
        min-width: auto;
        margin: 0 auto;
    }

    .header__logo-adap {
        display: flex;
        /* margin-top: 25px; */
        margin-left: auto;
    }

    .header__btn-for-adaptiv {
        border: none;
        background-color: transparent;
        padding: 0;
    }

    .header__btn-burger {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .header__ul {
        /* display: none; */
        z-index: 10;
        /* padding-top: 20px; */
        padding: 20px;
        padding-left: 35px;
        /* margin-left: 100px; */
        top: -480px;
        left: 0;
        background-color: rgba(63, 42, 255, 0.9);
        position: absolute;
        transition: transform .3s ease-in-out;
        transform: translateY(560px);
        width: 100%;
        min-height: 350px;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__ul.is-active {
        transform: none;
    }

    .header__li {
        color: white;
        margin-bottom: 0px;
        margin-right: 0;
    }

    .header__li:not(:last-child) {
        margin-right: 0;
    }

    .header__container {
        height: 80px;
    }

    .bb {
        flex-direction: row;
    }

    .header__logo {
        margin: 0;
    }

    /* 3d */

    h2 {
        font-size: 20px;
    }

    .three-d {
        background-image: url(../img/Rectangle_6_320.png);
        
    }

    .cont-three-d {
        padding-bottom: 20px;
    }


    .three-d__content {
        margin-top: 50px;
        width: 100%;
    }



    .three-d__title {
        font-size: 30px;
        width: 226px;
    }

    .three-d__title br {
        display: none;
    }

    .three-d__description {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        margin-top: 15px;
    }

    .three-d__btn {
        margin-top: 50px;
    }

    .three-d__course-btn {
        width: 213px;
        height: 60px;
        font-size: 16px;
    }

    /* advantage */



    .advantage__top-part {
        background-image: none;
    }

    .advantage__title {
        margin-left: 0;
        width: 290px;
        padding-top: 0;
        margin-top: 50px;
    }

    .advantage__description {
        margin-left: 0;
        width: 290px;
    }

    .advantage__ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .advantage__li {
        display: flex;
        flex-direction: row;
        width: 290px;
        margin-bottom: 15px;
    }

    .advantage__icon {
        margin-top: 0;
    }

    .advantage__li-description {
        width: 180px;
        margin-top: 5px;
    }

    .advantage__li-description br {
        display: none;
    }

    /* teachers */

    .teachers {
        padding-bottom: 30px;
    }

    .teachers__title {
        padding-top: 0;
        margin-top: 50px;
    }

    .teachers__description {
        width: 290px;
    }

    .teachers__li {
        margin-bottom: 30px;
    }

    .for-small-media {
        width: 290px;
    }

    /* cours */

    .cours {
        height: 2845px;
    }

    .cours__title {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .cours__li {
        min-height: 653px;
        width: 290px;
    }

    .cours__advantage {
        width: 228px;
        height: 233px;
    }

    .cours__btn-li {
        width: 90%;
    }


}
